.testimonials {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #eff3f3;
    padding: 5em 0;
    ul {
      line-height: 8;
      padding: 1em 0;
      .slide-button {
        width: 80px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.5em;
        @include transition(left (2s)); 
        @media screen and (max-width: $tablet-breakpoint) {
          width: 50px;
        }
        @media screen and (max-width: $mobile-breakpoint) {
          width: 30px;
          margin: 0 0.2em;
        }
        &:before {
            content: '';
            width: 100%;
            height: 80px;
            border-radius: 50%;
            display: block;
            background-color: #fbfcfc;
            @media screen and (max-width: $tablet-breakpoint) {
              height: 50px;
            }
            @media screen and (max-width: $mobile-breakpoint) {
              height: 30px;
            }
        }
        &-active:before {
            background-color: #e3e2e2; 
            @include transform(scale(1.3));
        }
      }
    }
    .slides {
        overflow:hidden;
        position: relative;
        letter-spacing: 0.5px;
        line-height: 1.5;
        p {
          font-family: 'OpenSans', sans-serif;
          font-size: 16px;
          font-weight: 300;
          font-style: italic;
          padding: 1em 0;
          color: $third-color;
        }
        h3 {
          font-size: $font-size;
          color: #555555;
          font-weight: 800;
          /*span {
            color: $header-background-color;
          }*/
        }
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
        @-webkit-keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
        }
        @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
        }
    }
}