/************************
       Breakpoints
************************/
$base-color: #ffffff;
$second-color: #f1c40f;
$third-color: #999999;
$fourth-color: #555555;

$base-background-color: #eff3f3;
$header-background-color: #e74c3c;
$background-color: #2c3e50;

$font-size: 14px;

$flex-nav-subNavWidth: 12.5em;
$flex-nav-breakpoint: 48em;


$desktop-breakpoint: 1200px;
$tablet-breakpoint:  996px;
$mobile-breakpoint:  768px;
$small-screen-breakpoint:  480px;
$xs-screen-breakpoint:  320px;
